.root {
    -fx-font-family: "Segoe UI", Arial, sans-serif;
}
#messagesBox .message-bubble {
    -fx-padding: 10 20 10 20;
    -fx-background-radius: 14;
    -fx-font-size: 14px;
    -fx-max-width: 360px;
    -fx-wrap-text: true;
}
.message-bubble.sent {
    -fx-background-color: #DCF8C6;
    -fx-alignment: center-right;
}
.message-bubble.received {
    -fx-background-color: #fff;
    -fx-alignment: center-left;
}